<footer class="footer">
    <p class ="footer_text">
        Website design (c) Aryan Shahi, Jiachen Si, Melana Uceda, Kevin Zhao, and Annie Zhu
    </p>

    <p class="toolbar_logo">
        Insulin Buddy
    </p>

    <p class = "footer_text">
        In an emergency, dial 000
    </p>
</footer>