<h1 class="speech_maxwidth center_via_margin">About Diabetes</h1>
<div class="cluster center_via_margin margin_bottom flex_around flex_around_margin_right">
    <div class="cluster_block speech_maxwidth">
        <iframe src="https://www.youtube.com/embed/wZAjVQWbMlE">
        </iframe>
    </div>

    <div class="cluster_block speech_maxwidth flex_around_margin_left">
        <h2>What is diabetes?</h2>
        <p>
            Diabetes is a chronic disease that occurs when your blood sugar levels are too high. The food you eat is broken down into sugar (i.e., glucose) and released into your blood stream. When the glucose levels in your blood increase, it signals your pancreas to release insulin which allows your cells to uptake that glucose for energy. Occasionally, your body does not make enough insulin or the insulin it makes doesn't work as well as it should. This means the glucose lingers in the bloodstream instead of getting used up by the cells and this condition is known as diabetes. There are 3 main forms of diabetes:
        </p>
        <br>
        <h2>Type 1 Diabetes</h2>
        <p>
            Type 1 diabetes, also known as juvenile diabetes, is an autoimmune disease where the immune system targets the insulin producing cells in the pancreas resulting in little to no insulin production. It typically occurs in young adults however it can appear at any age. People with type 1 diabetes need to take insulin regularly in order to survive.

        </p>
        <br>
        <h2>Type 2 Diabetes</h2>
        <p>
            Type 2 diabetes is the most common type of diabetes. It is where the body becomes resistant to the effects of insulin and gradually looses the ability to produce enough insulin in the pancreas. The cause of type 2 diabetes is still being researched but recent evidence suggests that it is an autoimmune disease rather than a metabolic disorder. You are more likely to develop type 2 diabetes if you are physically inactive.

        </p>
        <br>
        <h2>Gestational Diabetes</h2>
        <p>
            Gestational diabetes develops during pregnancy when the body cannot manufacture the required amount of insulin. Pregnancy causes the body to make more hormones and go through changes such as weight gain. These changes cause your body to use insulin less effectively which leads to gestational diabetes. They typically resolve soon after the delivery of the baby.

        </p>
        <br>

        <br>
        <h2>Common Diabetes Symptoms</h2>
        <div class="flexContainer">
            <div class="triSectionText">
                <ul>
                    <li>Increased thirst</li>
                    <li>Unexplained weightloss</li>
                    <li>Presence of ketones in urine</li>
                    <li>Frequent infections</li>
                </ul>
            </div>
            <div class="triSectionText">
                <ul>
                    <li>Frequent hunger</li>
                    <li>Frequent urination</li>
                    <li>Blurred vision</li>
                </ul>
            </div>
            <div class="triSectionText">
                <ul>
                    <li>Fatigue</li>
                    <li>Irritability</li>
                    <li>Slow-healing sores</li>
                </ul>
            </div>
        </div>
        <br>
        <h2>Diabetes Treatments</h2>
        <p>
            There is currently no cure for diabetes, but all hope is not lost as they can be treated and controlled if you put in the effort. Treatment for diabetes depends on what type you have but a general rule of thumb that will make it easier to manage is:

        </p>
        <br>
        <ul>
            <li>Eating healthy. Focus on including more fruits, vegetables, proteins, and whole grains into your diet whilst limiting foods that are high in saturated fats and carbohydrates.</li>
            <br><li>Exercising daily. Exercise lowers your blood glucose levels by using up the sugar in your blood as energy. It increases your sensitivity on insulin meaning your body needs less of it to export the glucose into your cells. Exercise doesn't have to be a chore, choose an activity that you enjoy whether it be cycling, swimming, or boxing. Just make sure you do it daily!</li>
        </ul>
        <div>
            <p>
                <br>
                An app that lets you keep track of your dietary intake and exercise:
            </p>
            <a href="https://www.mynetdiary.com/"><p>Check out MyNetDairy!</p></a>
        </div>
        <br>
        <h2>Living With Diabetes</h2>
        <p>
            You are not alone!!! Currently 415 million people around the world are living with diabetes and this is projected to reach half a billion in 2040. 
            It is possible to return to a normal life and all it takes is a little self-control and motivation.
        </p>
        <br>
        <p>
            <a href="https://www.diabetes.org.uk/your-stories" style="text-decoration: underline; color:blue;">Click Here</a>
                to go to a site containing stories from people who have tackled diabetes firsthand. Along with stories there are countless other resources out there to manage and understand your condition. Some are listed below, and we highly recommend checking them out. Having diabetes is not the end of the world and through simple daily management you can go back to living a completely normal life!
        </p>
        <br>
        <div class="flexContainer">
            <div class="sectionText">
                <ul>
                    <li><a href="https://www.diabetesaustralia.com.au/about-diabetes/what-is-diabetes/">Diabetes Australia</a></li>
                    <li><a href="https://www.niddk.nih.gov/health-information/diabetes/overview/what-is-diabetes">National Institute of Diabetes</a></li>
                </ul>
            </div>
            <div class="sectionText">
                <ul>
                    <li><a href="https://www.healthdirect.gov.au/diabetes">Health Direct</a></li>
                    <li><a href="https://familydoctor.org/condition/diabetes/">Family Doctor</a></li>
                </ul>
            </div>
        </div> 
    </div>
</div>