<h1 class="speech_maxwidth center_via_margin">About Insulin Buddy</h1>
<div class="cluster center_via_margin margin_bottom flex_around">
    <div class="cluster_block speech_maxwidth flex_around_margin_right">
        <h2>What is it for?</h2>
        <p class="margin_bottom_m">Insulin Buddy is a website for helping you manage your diabetes. It provides a friendly, motivating
            environment in which to record your daily insulin doses taken, blood glucose, weight, and exercise
            measurements. This information is directly linked to your clinician, allowing them to monitor your
            health status and send you encouraging messages.</p>

        <h2>About the creators</h2>
        <p class="margin_bottom">We're a team of university students studying web development at the University of Melbourne. We love
            creating websites, and we love helping other people, so we were excited to do both with Insulin
            Buddy.</p>

        <p class="margin_bottom">You must be logged in to access all of Insulin Buddy's features - contact your clinician to join.</p>    
    </div>

    <div class="cluster_block speech_maxwidth flex_around_margin_left">
        <h2>Reviews</h2>
        <div>
            <div class="speech_maxwidth margin_bottom_s">
                <div class="speech_bubble">
                    <h3>Tracy W.</h3>
                    <p>Insulin Buddy is so helpful in helping me remember to take my daily insulin - possibly a
                        life-saver!</p>
                </div>
                <object class="speech_bubble_point" data="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9efb134c-4fb5-49a4-8702-6128f4b45dc6/df4hpg2-32a52c69-88e6-4119-871e-827705344ec7.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzllZmIxMzRjLTRmYjUtNDlhNC04NzAyLTYxMjhmNGI0NWRjNlwvZGY0aHBnMi0zMmE1MmM2OS04OGU2LTQxMTktODcxZS04Mjc3MDUzNDRlYzcucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.BNexgt8jqJDLSyEgmnSbEI21Ije7z4jYggIv-kboPig"></object>
            </div>

            <div class="speech_maxwidth margin_bottom_s">
                <div class="speech_bubble">
                    <h3>Raj N.</h3>
                    <p>My health improved almost immediately after using Insulin Buddy. It's so great!</p>
                </div>
                <object class="speech_bubble_point speech_bubble_point_variant" data="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9efb134c-4fb5-49a4-8702-6128f4b45dc6/df4hpg2-32a52c69-88e6-4119-871e-827705344ec7.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzllZmIxMzRjLTRmYjUtNDlhNC04NzAyLTYxMjhmNGI0NWRjNlwvZGY0aHBnMi0zMmE1MmM2OS04OGU2LTQxMTktODcxZS04Mjc3MDUzNDRlYzcucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.BNexgt8jqJDLSyEgmnSbEI21Ije7z4jYggIv-kboPig"></object>
            </div>

            <div class="speech_maxwidth margin_bottom">
                <div class="speech_bubble">
                    <h3>Ellen H.</h3>
                    <p>I used to find it really difficult to motivate myself to record my diabetes data, but I love going onto Insulin Buddy - it's so cute and it's awesome to compete against other members.</p>
                </div>
                <object class="speech_bubble_point" data="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9efb134c-4fb5-49a4-8702-6128f4b45dc6/df4hpg2-32a52c69-88e6-4119-871e-827705344ec7.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzllZmIxMzRjLTRmYjUtNDlhNC04NzAyLTYxMjhmNGI0NWRjNlwvZGY0aHBnMi0zMmE1MmM2OS04OGU2LTQxMTktODcxZS04Mjc3MDUzNDRlYzcucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.BNexgt8jqJDLSyEgmnSbEI21Ije7z4jYggIv-kboPig"></object>
            </div>
        </div>

    </div>
</div>