<!--this flash is undefined: could contain text: "Passwords must have at least 8 characters"-->

<main class="center">
    <h1 class="center">Change Password</h1>

    {{#each flash}}
        <p class="alert">{{this}}</p>
    {{/each}}
    <br>

    <form class="center_via_margin" id="login_form" action="/change_password" method="POST">
        <label for="New Password"><h3 class="login_label">New password</br></h3></label>
        <input type="text" id="change password" name="new_password" class="login_form margin_bottom_s change_password">
        <label for="Re-enter new Password"><h3 class="login_label">Re-enter new password</br></h3></label>
        <input type="text" id="change password" name="new_password_repeat" class="login_form margin_bottom_s change_password">
        <input type="submit" value="Change password" class="btn btn-colour-secondary btn_big">
    </form>
</main>