<table class="data_viewing_table width75 center_via_margin">
    <thead>
        <tr class="tableHeader table_corner_top_left table_corner_top_right">
            <th class="table_corner_top_left table_rank">Date</th>
            <th>Doses</th>
            <th class="table_corner_top_right comments_width">Comment</th>
        </tr>
    </thead>
    {{{tbody}}}
</table>