<div class="center">
    <h1 style="visibility: hidden;">Patient details submitted</h1>
    <h2>Details submitted!</h2>
    <h2 class="margin_bottom">An email has been sent to your patient to complete registration.</h2>

    <div>
        {{> partial_back_button address="."}}
    </div>
</div>